[Unit]
Description=Device Import Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/teltonika-codec8-server/teltonika-codec8-server.py
ExecStop=/bin/bash /opt/teltonika-codec8-server/service/stop.sh
WorkingDirectory=/opt/teltonika-codec8-server
Restart=always
RestartSec=5
TimeoutSec=60
RuntimeMaxSec=infinity
PIDFile=/tmp/device-import.pid

[Install]
WantedBy=multi-user.target